html {
    font-family: Helvetica;
    font-size: 22px;
    color: rgb(141, 132, 126, 0.9);
    background-color: black;
    text-align: center;
}

#banner {
    height: 69px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    margin: 0;
    border-bottom: 1px solid seashell;
}

#logo {
    height: 50px;
    margin-left: 10px;
}

nav ul {
    display: inline-flex;
    list-style: none;
    margin-right: 10px;
}

nav ul li {
    padding: 0 10px;
}

a {
    color: rgb(141, 132, 126, 0.9);
    text-decoration: underline;
}
 main {
     margin: 69px 0 0;
 }

 .our-mission-bg {

     height: 700px;
     width: 1200px;
     margin: auto;
     background-image: url('../images/img-mission-background.jpg');
     background-size: cover;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .our-mission-text {
     background-color: black;
     width: 100%;
 }
 #tea-of-the-month {
     width: 1000px;
     text-align: center;
     margin: auto;
 }

 #images {
     display: inline-flex;
     justify-content: space-evenly;
     flex-wrap: wrap;
 }

 .image img{
    width: 300px;
    height: 200px;
    margin-bottom: 0;
 }

 .image p {
     margin-top: 10px;
 }

 #locations {
     background-image: url('../images/img-locations-background.jpg');
     background-size: cover;
     height: 500px;
     width: 1200px;
     margin: auto;
     display: flex-box;
 }

 #locations-box {
     width: 940px;
     display: inline-flex;
     justify-content: space-between;
     align-items: center;
 }

 .location {
     width: 300px;
     background-color: black;
     line-height: 3rem;
 }

 .location h2 {
     margin: 50px 0 15px;
 }

 .location h3 {
     margin: 0;
 }

 #contact {
     display: flex;
     flex-direction: column;
     height: 200px;
     line-height: 3rem;
 }

 #contact h2 {
     margin: 0;
 }

 #copyright {
     margin-left: 20px;
     text-align: left;
 }