body {
    background-color: black;
    margin: 0;
}

#banner {
    height: 69px;
    width: 100%;

    position: fixed;
    background-color: blue;
    border-bottom: 1px solid seashell;
}

#logo {
    display: inline-block;
    height: 50px;
}

nav ul {
    display: inline;
}


nav ul li {
    display: inline-block;
}