html {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    text-align: center;
}

#banner {
    height: 69px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    margin: 0;
    border-bottom: 1px solid seashell;
}

#logo {
    height: 50px;
    margin-left: 10px;
}

nav ul {
    display: inline-flex;
    list-style: none;
    margin-right: 10px;
}

nav ul li {
    padding: 0 10px;
}

nav a {
    color: seashell;
    text-decoration: underline;
}
 main {
     margin: 69px 0 0;
 }

 .our-mission-bg {

     height: 700px;
     width: 1200px;
     margin: auto;
     background-image: url('../images/img-mission-background.jpg');
     background-size: cover;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .our-mission-text {
     background-color: black;
     width: 100%;
 }